<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="company.master.cs" Inherits="HireHub3.company" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>

    </style>
</head>
<body>
    
</body>
</html>
