<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Job.master.cs" Inherits="HireHub3.Job" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>

    </style>
</head>
<body>
    

</body>
</html>
